// FONT-FAMILY
$monts: 'Montserrat', sans-serif;
$open: 'Open', sans-serif;
$spartan: 'Spartan', sans-serif;

// FONT-SIZE
$large: 20px;
$medium: 15px;
$small: 12px;
$xmall: 10px;
$xxmall: 7px;


// FONT-WEIGHT MONTSERRAT

$light: 300;
$regular: 400;
$medium: 500;

// FONT-WEIGHT OPEN
$op-light: 300;

// FONT-WEIGHT SPARTAN
$spar-thin: 100;
$spar-medium: 500;